.container{
    text-align: center;
    .errors{
        color: red;
    }
    .movie_list{
        display: flex;
        flex-flow: row;
        .movie_result{
            width: 40%;
            margin: 10px;
            .movie{
                display: flex;
                flex-flow: row;
                img{
                    margin: 10px;
                }
                .movie_details{
                    .movie_title{
                        font-size: 20px;
                        font-weight: bold;
                        padding: 4px;
                    }
                    .movie_description{
                        padding: 4px;
                    }
                }

            }

        }
    
    }
}
