<div class="container">
    <div class="page_title">Search Movies</div>
    <div class="errors" *ngIf="errors.input"> {{errors.input}} </div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!-- <input type="text" name="boardValue" ngModel/> --> 
      movie: <input type="text" name="movie" ngModel/>
      <button type="submit">Submit</button>
    </form>
    
    <div class="movie_list">
          <div class="youtube movie_result">
            <h2>{{youTube.length > 0 ? 'YouTube results:' : ''}}</h2>
            <h2>{{errors.youtube ? errors.youtube : ''}}</h2>
            <div class="movie" *ngFor="let movie of youTube; let i = index" >
                <iframe width="560" height="315" [src]="sinitizeUrl('https://www.youtube.com/embed/', movie.id.videoId)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <img [src]="movie.snippet.thumbnails.medium.url" /> -->
              <div class="movie_details">
                  <div class="movie_title">{{movie.snippet.title}}</div>
                  <div class="movie_description">{{movie.snippet.description}}</div>
              </div>
            </div>
          </div>
          <div  class="movieDB movie_result">
              <h2>{{movieDB.length > 0 ? 'The Movie DB results:' : ''}}</h2>
              <h2>{{errors.movieDB ? errors.movieDB : ''}}</h2>
              <div class="movie" *ngFor="let movie of movieDB; let i = index" >
                  <iframe *ngIf="movie.youTubeData.length > 0" width="560" height="315" [src]="sinitizeUrl('https://www.youtube.com/embed/', movie.youTubeData[0].key)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <img *ngIf="movie.poster_path && movie.youTubeData.length === 0" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2{{movie.poster_path}}" />
                  <div class="movie_details">
                      <div class="movie_title">{{movie.title}}</div>
                      <div class="movie_description">{{movie.overview}}</div>
                  </div>
                </div>
          </div>
    </div>
  </div>

